@import './common.scss';

body {
	overflow-x: hidden;
	padding-right: 0 !important;
}
#wrap {
	display: flex;
	width: 100%;
}
#mouse-scroll {
	position: fixed;
	margin: auto;
	left: 50%;
	bottom: 30px;
	transform: translateX(-50%);
	z-index: 9999;
	.mouse {
		height: 40px;
		width: 25px;
		border-radius: 20px;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		border: 2px solid #e3e3e3;
		top: 170px;
		.mouse-in {
			height: 8px;
			width: 2px;
			display: block;
			margin: 5px auto;
			background: #cecece;
			position: relative;
			animation: animated-mouse 1.2s ease infinite;
		}
		@keyframes animated-mouse {
			0% {
				opacity: 1;
				-webkit-transform: translateY(0);
				-ms-transform: translateY(0);
				transform: translateY(0);
			}
			100% {
				opacity: 0;
				-webkit-transform: translateY(6px);
				-ms-transform: translateY(6px);
				transform: translateY(6px);
			}
		}
	}
}
.lnb {
	border-radius: 0 50px 0 0;
	width: 261px;
	min-height: 100vh;
	text-align: center;
	background-color: $pointColor;
	h1 {
		margin: 46px 0 30px 0;
	}
	> ul {
		> li > a {
			display: block;
			line-height: 60px;
			font-size: 18px;
			color: #fff;
			font-weight: 400;
		}
		> li.on {
			position: relative;
			> a {
				color: #b4f9ff;
				font-weight: 500;
			}
		}
		> li.on::before {
			content: '';
			position: absolute;
			top: 6px;
			left: 0;
			width: 6px;
			height: 46px;
			background: #b4f9ff;
		}
	}
}

.container {
	width: 100%;
	height: 100%;
	main {
		position: relative;
		display: flex;
	}
}

#headerTopWrap {
	/* justify-content: end; */
	align-items: center;
	width: 100% !important;
	height: 64px;
	background: rgb(255, 255, 255);
	z-index: 3;
	position: fixed;
	@include desktop{
		border-bottom: 1px solid rgba(200, 200, 200, 0.75);
	}
	.MuiToolbar-root {
		min-height: 60px !important;
	}
	.logoBox{
		@include tablet{
			margin-left:5%;
		}

	}

	.nav {
		height: 64px;
		overflow: hidden;
		transition-duration: 0.2s;
	}

	.nav:hover {
		height: 100%;
		transition-duration: 1s;
	}

	.nav .navContainer {
		backdrop-filter: saturate(180%) blur(40px);
		height: 64px;
		display: flex;
		margin: auto;
		justify-content: center;
		align-items: center;
		padding: 0;
	}
	.nav .navContainer .active {
		color: rgb(128, 128, 128);
	}

	.nav .navContainer .none {
		background-color: rgba(255, 255, 255, 0);
	}

	.nav .navContainer li {
		cursor: pointer;
		width: 150px;
		height: 30px;
		list-style-type: none;
		font-size: 17px;
		color: #000000;
		font-weight: 600;
		display: inline-block;
		text-align: center;
	}

	.nav .navContainer .navContent {
		&:after {
			height: 20px;
			width: 100%;
			display:block;
			content: '';
			border-bottom: solid 2px $pointColor;
			transform: scaleX(0);
			transition: transform 250ms ease-in-out;
		}
		&:hover:after { transform: scaleX(1); }
	}
	.nav .navContainer li p {
		margin: 0;
	}

	.nav .detailMenu {
		display: flex;
		overflow: hidden;
		background-color: rgba(255, 255, 255, 0.89);
		justify-content: center;
		padding: 20px 0;
		border : 1px solid #c7c7c7;
		font-size: 16px !important;
		position: relative;
	}

	.nav .detailMenu ul {
		width: 150px;
	}

	.nav .detailMenu ul li {
		text-align: center;
		list-style-type: none;
		margin-bottom: 10px;
		color: rgb(0, 0, 0);
		font-weight: 400;
		a{
			color: black;
		}
	}
	.nav .detailMenu ul li:hover {
		cursor: pointer;
		a{
			color: $pointColor;
		}
	}
}

.contents {
	width: 100%;
	> .cont {
		padding: 50px 30px;
		border-radius: 0 20px 0 0;
		background: #fff;
	}
	> .cont:first-child {
		border-radius: 20px 20px 0 0;
	}
}

.swiper-btn {
	color: #454545 !important;
	font-weight: bold;
	padding: 45px;
	background-color: rgba(63, 63, 63, 0);
	border: none;
	@include mobile{
		padding:30px;
	}
}
.swiper-button-prev:after,
.swiper-button-next:after,
.swiper-button-prev:before,
.swiper-button-next:before {
	font-size: 20px !important;
}

// .css-heg063-MuiTabs-flexContainer {
.MuiTabs-flexContainer {
	display: inline-block !important;
}

#img-container .swiper {
	z-index: 0 !important;
	width: 100%;
	//height: 820px;
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	@include mobile {
		padding-top: 0 !important;
		height: 60%;
	}
	@include tablet {
		padding-top: 0 !important;
	}
	.slider-img {
		background-size: cover;
		color: white;
		height: 100%;
		width: 100%;
		text-align: left;
		font-weight: bold;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		@include mobile {
			height: 500px !important;
		}
	}
	#slider3 {
		background-image: url('../images/main/mobile-bg.jpg');
	}

	#slider2 {
		background-image: url('../images/main/cloud-bg.jpg');
	}

	#slider1 {
		background-image: url('../images/main/gear-bg.jpg');
	}
	.slider-text-pc {
		//padding-top: 10%;
		//padding-left: 40%;
		/*position: absolute;*/
		/*left: 50%;*/
		text-align: center;
		margin: 150px auto 0 auto;
		.in-div{
			display: flex;
			justify-content: center;
			align-items: center;
		}
		@include mobile {
			padding-top: 30%;
		}
		span {
			font-size: 15px;
		}
		p {
			//margin-top: 10px;
			font-size: 60px;
			@include mobile {
				font-size: 40px;
			}
		}
		.last-p {
			font-size: 15px;
			font-weight: normal;
		}
		.swiper-main-text{
			background: linear-gradient(-10deg, $gradientColor2 29.34%, $pointColor 56.73%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			font-weight: 700;
			font-size: 70px;
			line-height: 80px;
			@include mobile {
				font-size: 35px;
				line-height: 44px;
			}
		}
		.swiper-main-black{
			font-weight: 700;
			font-size: 70px;
			line-height: 80px;
			color: black;
			@include mobile {
				font-size: 35px;
				line-height: 44px;
			}
		}
		.swiper-main-mini{
			font-weight: 400;
			font-size: 25px;
			line-height: 32px;
			letter-spacing: -0.04em;
			color: #111;
			opacity: 1;
			@include mobile {
				font-size: 20px;
				line-height: 24px;
			}
		}
	}
	#recruitFile{
		background-color: $pointColor;
	}
}
.MuiSpeedDial-fab{
	background-color: $gradientColor2 !important;
}

footer {
	bottom: 0;
	text-align: center;
	color: #000000;
	.footer-main{
		display: flex;
		overflow: hidden;
		background-color: rgba(255, 255, 255, 0.89);
		justify-content: center;
		padding: 20px 0;
		font-size: 17px;
		position: relative;
		@include mobile(){
			padding: 20px;
		}
		ul{
			width: 150px;
			li:first-child{
				font-weight: 500;
				font-size: 17px;
				cursor: text;
				@include mobile(){
					font-size: 15px;
				}
			}
			li {
				text-align: center;
				font-size: 15px;
				list-style-type: none;
				margin-bottom: 10px;
				color: rgb(0, 0, 0);
				font-weight: 200;
				cursor: pointer;
				@include mobile(){
					font-size: 13px;
				}
			}
			li:hover{
				color: $pointColor;
			}
			li:first-child:hover{
				color: black;
			}
		}
	}
	.footLine {
		width: 100%;
		border-top-width: 0.1px;
		border-style: solid;
		border-color: rgba(77, 77, 77, 0.27);
		display: flex;
		margin: 30px 0 30px 0;
	}
	.footer-sub{
		width: 100%;
		border-top: 1px solid #DBDBDB;
		background: #F6F6F6;
		display: flex;
		margin: 0 auto;
		ul{
			margin: 0 auto;
			display: inline-block;
			padding: 30px 0 80px;
		}
	}
}

#dialog{
	img{
		width: 100%;
		//height: 100%;
		@include mobile{
			//height: 300px;
		}
	}
	.MuiDialog-paper{
		max-width: unset !important;
	}
}