@import './common.scss';

/*메인 intro*/
.intro {
	width: 100%;
    justify-content: center;
    height:1500px;
    display: flex;
	#intro-container {
		text-align: center;
		/* padding-bottom: 50px; */
      .intro-text{
        float:left;
        margin:100px 0 0 250px;
        width: 402px;
        color: #fff;
        font-weight: 500;
        font-size: 60px;
        line-height: 78px;
        text-align:left;
        @include mobile {
          margin: 50px 0 0 50px;
          width: 200px;
          font-size: 20px;
          line-height: 20px;
          float: none;
        }
      }
      .intro-content{
        width:900px;
        float:right;
        margin:100px 250px 0 0;
        @include mobile{
          width: 500px;
          float: none;
          margin:100px 0;
          padding: 30px;
        }
      }
	}
	.sub_intro_warp {
		padding: 0 15% 210px;
	}
	#introTitle {
		padding: 7%;
	}
	#introP {
		font-size: 35px;
		font-weight: bold;
		color: #0034b5;
	}
	#introP2 {
		font-size: 20px;
	}
  .card {
    width: 400px;
    height: 574px;
    display: flex;
    position:relative;
    background: white;
    border-radius: 40px;
    box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.075), 0 0 2px hsl(0deg 0% 0% / 0.075),
    0 0 4px hsl(0deg 0% 0% / 0.075), 0 0 8px hsl(0deg 0% 0% / 0.075),
    0 0 16px hsl(0deg 0% 0% / 0.075);
    transform-origin: 10% 60%;
    color: white;
    @include mobile{
      width: 200px;
      height: 400px;
    }
    .intro-card-button{
      position:absolute;
      bottom:0;
      vertical-align: bottom;
      display: table-cell;
      padding: 0 40px;
      width: 100%;
      @include mobile{
        padding: 0 10px;
      }
    }
    p{
      width: auto;
      text-align: left;
      color: #fff;
      font-weight: 700;
      font-size: 44px;
      line-height: 42px;
      transition-duration: 500ms;
      @include mobile{
        font-size: 25px;
        line-height: 30px;
      }
    }
    span{
      display: inline-block;
      text-align: left;
      margin-top: 13px;
      line-height: 140%;
      color: #fff;
      font-weight: 400;
      font-size: 24px;
      transition-duration: 500ms;
      @include mobile{
        font-size: 15px;
        line-height: 120%;
      }
    }
    .intro-card-arrow{
      opacity: 0;
      text-align: left;
      margin-top: 20px;
    }
  }
  .card:hover{
    p{
      transform: translateY(-20px);
      transition-duration: 500ms;
    }
    span{
      transform: translateY(-20px);
      transition-duration: 500ms;
    }
    .intro-card-arrow{
      opacity: 1;
      transform: translateY(-20px);
      transition-duration: 500ms;
    }
  }
  #card1{
    background: url('../images/main/service-item-6.png') no-repeat top center;
    background-size: cover;
  }
  #card2{
    background: url('../images/main/img_bg_hr.png') no-repeat top center;
    background-size: cover;
  }
  #card3{
    background: url('../images/main/img_bg_firmbanking.png') no-repeat top center;
    background-size: cover;
  }
  #card4{
    background: url('../images/main/service-item-4.png') no-repeat top center;
    background-size: cover;
  }
}

.intro3{
    width: 100%;
    justify-content: center;
    height:1000px;
    display: flex;
  #intro-container {
    text-align: center;
    /* padding-bottom: 50px; */
  }
  .card {
    width: 400px;
    height: 850px;
    display: flex;
    position:relative;
    background: white;
    border-radius: 40px;
    box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.075), 0 0 2px hsl(0deg 0% 0% / 0.075),
    0 0 4px hsl(0deg 0% 0% / 0.075), 0 0 8px hsl(0deg 0% 0% / 0.075),
    0 0 16px hsl(0deg 0% 0% / 0.075);
    transform-origin: 10% 60%;
    color: white;
    .intro-card-button{
      position:absolute;
      bottom:0;
    }
    p{
      width: auto;
      text-align: left;
      color: #fff;
      font-weight: 700;
      font-size: 44px;
      line-height: 42px;
      transition-duration: 500ms;
    }
    span{
      display: inline-block;
      text-align: left;
      margin-top: 13px;
      line-height: 140%;
      color: #fff;
      font-weight: 400;
      font-size: 24px;
      transition-duration: 500ms;
    }
    .intro-card-arrow{
      opacity: 0;
      text-align: left;
      margin-top: 20px;
    }
  }
  .card:hover{
    p{
      transform: translateY(-20px);
      transition-duration: 500ms;
    }
    span{
      transform: translateY(-20px);
      transition-duration: 500ms;
    }
    .intro-card-arrow{
      opacity: 1;
      transform: translateY(-20px);
      transition-duration: 500ms;
    }
  }
  #card11{
    background: url("../images/menu/recruit.jpg") no-repeat white;
    background-size: contain;
  }
}

/* 메인 intro 이미지애니메이션 효과 */
.main_sub_intro_container {
	width: 150px;
	height: 200px;
	perspective: 1000px;
	.item {
		width: 150px;
		height: 200px;
		border: 1px solid #828282;
		backface-visibility: hidden;
		transition: 0.7s;
	}
	.item.front {
		position: absolute;
		transform: rotateY(0deg);
	}
	.item.back {
		transform: rotateY(-180deg);
	}
}

.main_sub_intro_container:hover {
	.item.front {
		transform: rotateY(180deg);
	}
	.item.back {
		transform: rotateY(0deg);
	}
}

/*사업분야*/
.intro-card {
	background: url('../images/main/main_bg.png') no-repeat top center;
	background-size: cover;
	overflow: hidden;
	height: 100%;
	padding-top: 100px;
	@include mobile {
		padding-top: 0;
	}
	.swiper {
		z-index: 0 !important;
	}
	.intro-card-hover {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.54);
		color: white;
		text-align: center;
		font-size: 30px;
		p {
			padding-top: 45%;
		}
	}
	.MuiTab-root {
		text-align: center;
		margin: 30px 0;
		font-size: 15px;
		font-weight: bold;
      font-family: 'Noto Sans KR', Dotum, Arial, sans-serif;
	}
	.intro-card-btn {
		border: 1px solid white;
		font-size: 18px;
		color: white;
		display: inherit;
		width: 100px;
		margin: 20px auto;
		text-align: center;
	}
	.intro-card-btn:hover {
		border-color: #1f88e5;
		border-width: 2px;
		color: #1f88e5;
	}
	.menu_title_p_fixed_warp {
		text-align: center;
		padding-top: 50px;
		.menu_title_p1 {
			color: #002a52;
			font-size: 40px;
			font-weight: 500;
			@include mobile {
				font-size: 35px;
				font-weight: bold;
			}
		}
	}
  background: url('../images/main/main_bg.png') no-repeat top center;
  background-size: cover;
  overflow: hidden;
  height: 100%;
  padding: 100px 0;
  @include mobile{
    padding-top: 0;
  }
  .swiper {
    z-index: 0 !important;
  }
  .intro-card-hover {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.54);
    color: white;
    text-align: center;
    font-size: 30px;
    p{
      padding-top: 45%;
    }
  }
  .MuiTab-root {
    text-align: center;
    margin: 30px 0;
    font-size: 15px;
    font-weight: bold;
  }
  .menu_title_p_fixed_warp{
    text-align: center;
    padding-top : 50px;
    .menu_title_p1{
      color: #002a52;
      font-size: 40px;
      font-weight: bold;
      @include mobile{
        font-size: 35px;
        font-weight: bold;
      }
    }
  }

	.MuiTab-root {
		@include mobile {
			min-width: 40px;
		}
	}
}
#map {
	width: 100%;
	height: 500px;
	margin-bottom: 30px;
	border-radius: 10px;
}

.main-title{
  font-size: 190px;
  font-weight: bold;
  line-height: 0;
  color: rgba(218, 218, 218, 0.34);
  margin-top: 20px;
  left:-1;
  position: absolute;
  z-index: 0;
  @include mobile{
    display: none;
  }
}

.intro2{
  width: 100%;
  height: 1300px;
  #intro2-main{
    margin: 100px 200px 30px 200px;
    display: flex;
  }
  #intro2-main1{
    width: 50%;
    p{
      font-size: 84px;
      font-weight: 800;
      line-height: 94px;
    }
  }
  #intro2-main2{
    width: 50%;
    position: relative;
    div{
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  #intro2-main3{
    margin-top: 100px;
    .intro2-card-button{
      border: 0.5px solid #e8e8e8;
      border-radius: 20px;
      height: 100%;
      box-shadow: 0px 5px 5px 0px rgba(142, 142, 142, 0.8);
      color: black;
      text-align: left;
      p{
        font-size: 20px;
      }
      span{
        font-size: 15px;
        color: #6d6d6d;
      }
      hr{
        background-color: #b5b5b5;
        margin: 0 0 20px 0;
      }
      svg{
        color: white;
      }
      .intro2-card-arrow{
        bottom: 20px;
        position: absolute;
        right: 40px;
      }
    }
    .intro2-card-button:hover{
      transition-duration: 0.3s;
      background: linear-gradient(321deg, rgba(116,248,194,1) 0%, rgba(0,173,223,1) 100%);
      color: white;
      span{
        transition-duration: 0.3s;
        color: #ececec;
      }
      hr{
        background-color: white;
      }
      #intro2-card-logo1{
        transition-duration: 0.3s;
        background: url("../images/main/shLogoWhite.png") no-repeat;
        background-size: contain;
      }
      #intro2-card-logo2{
        transition-duration: 0.3s;
        background: url("../images/main/kwaterLogoWhite.png") no-repeat;
        background-size: contain;
      }
      #intro2-card-logo3{
        transition-duration: 0.3s;
        background: url("../images/main/natureLogoWhite.png") no-repeat;
        background-size: contain;
      }
      #intro2-card-logo4{
        transition-duration: 0.3s;
        background: url("../images/main/rawLogoWhite.png") no-repeat;
        background-size: contain;
      }
    }
    .intro2-card-logo{
      height: 70px;
      width: 100%;
      margin-top: 70px;
    }
    #intro2-card-logo1{
      background: url("../images/main/shLogo.png") no-repeat;
      background-size: contain;
    }
    #intro2-card-logo2{
      background: url("../images/main/kwaterLogo.png") no-repeat;
      background-size: contain;
    }
    #intro2-card-logo3{
      background: url("../images/main/natureLogo.png") no-repeat;
      background-size: contain;
    }
    #intro2-card-logo4{
      background: url("../images/main/rawLogo.png") no-repeat;
      background-size: contain;
    }
    #intro2-card-logo5{
      /*background: url("../images/main/shLogo.png") no-repeat;*/
      background-size: contain;
    }
    #intro2-card-logo6{
      /*background: url("../images/main/shLogo.png") no-repeat;*/
      background-size: contain;
    }
    #intro2-card-logo7{
      /*background: url("../images/main/shLogo.png") no-repeat;*/
      background-size: contain;
    }
  }
  #intro2-main4{
    margin-top: 100px;
    background: white;
    align-content: center;
    justify-content: center;
    div{
      margin: 20px;
    }
    img{
      //width: 100px;
      height: 50px;
      background: white;
      object-fit:cover;
    }
  }
}

.intro4{
  height: 420px;
  width: 100%;
  border-radius: 0px;
  transition: 0.1s;
  background: linear-gradient(145.31deg, #00A6ED 1.05%, #00B780 99.46%);
  min-width: 75%;
  margin-top: 253px;
  padding: 112px 0 102px;
  color: #fff;
  text-align: center;
  display: block;
  p{
    font-weight: 700;
    font-size: 42px;
    line-height: 26px;
  }
  span{
    display: block;
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    width: 400px;
    margin:28px auto;
  }
  .button-text{
    background: linear-gradient(-10deg, #00A6ED 29.34%, #00B780 56.73%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 20px;
    line-height: 104px;
  }
  button:hover{
    background-color: white;
  }
}



.intro5{
  background-color: white;
  height: 100%;
  width: 100%;
  padding: 100px 20%;
  @include mobile{
    padding: 50px 5%;
    text-align: center;
    .MuiGrid-item{
      padding-top: 0 !important;
      margin-top: 50px;
    }
  }
  @include tablet{
    padding: 50px 15%;
    text-align: center;
  }
  .menu_title_p_fixed_warp{
    padding:0;
    .menu_title_p1{
      color: #000000;
      font-size: 40px;
      font-weight: bold;
      @include mobile{
        font-size: 35px;
        font-weight: bold;
      }
    }
    .menu_title_divider{
      margin: 0 0 30px 0;
      @include mobile{
        margin:0 auto 30px auto;
      }
    }
  }
  .intro-content{
    width: 90%;
    margin: 0 auto 100px auto;
    height: 100%;
    img{
      width: 100%;
      max-height: 500px;
      //@include mobile{
      //  width: 380px;
      //}
    }
    span{
      font-size: 1.5rem;
      font-weight: 500;
      @include mobile{
        font-size: 1.4rem;
        font-weight: bold;
      }
    }
    p{
      font-size: 1.2rem;
      font-weight: 400;
      color: rgb(83, 83, 83);
    }
    .MuiButton-root{
      @include mobile{
        float: unset;
        margin:30px;
      }
      @include tablet{
        float: unset;
        margin:30px;
      }
    }
    .MuiSvgIcon-root{
      font-size:3.5rem !important;
    }
    .sub_title{
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
    }
    .sub_cont{
      font-size: 14px;
      line-height: 24px;
      color: #626262;
    }
  }
  .intro-count{
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 100px;
    @include mobile{
      display: block;
      margin-top: 10px;
    }
    .intro-count-box{
      //z-index: 1;
      text-align: center;
      width: 25%;
      @include mobile{
        width: 100% !important;
        border: none !important;
        margin-top: 30px;
      }
      .intro-count-num{
        color: #000000;
        font-size: 30px;
        font-weight: 500;
        @include mobile{
          font-size: 20px;
        }
      }
      .intro-count-title{
        font-size: 15px;
        font-weight: 300;
        color: #6d6d6d;
      }
      .intro-count-text{
        color: #000000;
        font-size: 25px;
        font-weight: bold;
        @include mobile{
          font-size: 15px;
        }
      }
    }
  }
}

.contact {
  text-align: center;
  height: 450px;
  background: url("../images/main/bg_contact.jpg") no-repeat fixed center;
  background-size: cover;
  @include mobile{
    height: 500px;
  }
  .contact-content{
    height: 100%;
    background-color: rgba(63, 63, 63, 0.74);
    .menu_title_p1{
      color: white;
    }
    p:last-child{
      color: white;
      width: 700px;
      font-size: 25px;
      margin: 0 auto;
      @include mobile{
        width: 100%;
      }
    }
  }
}
.text{
  display: flex;
  align-items: center;
  width: 100%;
  height: 300px;
  font-size: 7rem;
  font-weight: bold;
  color: rgba(164, 164, 164, 0.58);
}
@keyframes slideAnimation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.looper {
  width: 100%;
  overflow: hidden;
}

.looper__innerList {
  display: flex;
  justify-content: center;
  width: fit-content;
}

.looper__listInstance {
  display: flex;
  width: max-content;

  animation: slideAnimation linear infinite;
}
.btn10{
  width: 150px;
  height: 50px;
  border: 4px solid black;
  margin: 30px auto 30px auto;
  font-size: 14px;
  font-weight: 600;
  //float: left;
  background-color:white;
  color:black;
  touch-action: manipulation;
  cursor: pointer;
  text-transform: uppercase;
}
.btn10:hover{
  background-color: black;
  color:white;
}
.intro-video{
  width: 100%;
  height: 100%;
  video{
    background-size: cover;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }
  @include mobile{
    height: 100%;
  }
}
.hover_card{
  background-color: #f6f6f6;
  height: 100%;
  padding: 5%;
  text-align: center;
  @include mobile{
    height: 100%;
  }
  .sub_title{
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
  }
  .sub_cont{
    font-size: 14px;
    line-height: 24px;
    color: #626262;
  }
  .hover_card_sub {
    margin: 20px 0;
    width: 100%;
    padding: 50px;
    .MuiSvgIcon-root{
      font-size:5rem !important;
      color: #fdd947;
    }
  }
  .hover_card_sub:hover{
    border: 3px solid #fdd947;
    background-color: white;
  }
}
.social{
  width: 100%;
  padding: 100px 0;
  text-align: center;
  .social_grid{
    width:700px;
    margin: 0 auto;
    @include mobile{
      width: 100%;
    }
  }
  .social_grid_sub{
    width: 100%;
  }
  .MuiSvgIcon-root{
    font-size:4rem !important;
    color: #fdd947;
  }
  .sub_cont{
    font-size: 14px;
    line-height: 24px;
    color: #626262;
  }
}

.skill{
  .skill_first{
    background-color: black;
    padding:5%;
    margin:0 auto;
    @include mobile{
      width:100% !important;
      text-align: center;
    }
    @include tablet{
      width: 40%;
    }
    p{
      font-size: 30px;
      color: white;
    }
  }
  .skill_second{
    @include mobile{
      display: none;
    }
    @include tablet{
      display: none;
    }
    img{
      width: 100%;
      max-height: 100%;
    }
  }
  .skill_third{
    background-color: #f6f6f6 ;
    padding:5%;
    @include mobile{
      width:100% !important;
    }
    @include tablet{
      width: 60%;
    }
  }
  .sub_cont{
    font-size: 14px;
    line-height: 24px;
    color: #626262;
    padding-bottom: 20px;
  }
}
.dialog{
  overflow-y: hidden;
  img{
    padding: 30px 70px;
    @include mobile{
      padding: 10px;
    }
  }

}